.main {
  display: flex;
}

.driver-card {
  display: flex;

  align-items: center;
  justify-content: center;

  background-color: rgb(71, 114, 255);
  color: white;
  margin: .3rem;  
  font-size: 14px;
  padding: 20px;
  border-radius: 10px;
}

.driver-img {
  display: inline-block; 
  position: relative; 
  width: 100px; height: 100px; 
  overflow: hidden; border-radius: 50%; 
  margin: .2rem 1rem;
} 

.driver-img img { 
  width: auto; height: 100%; 
    margin-left: -50px;
}

.driver-name {
  font-size: 26px;
  font-weight: 500;
}

.driver-rating {
  font-size: 26px;
}

.driver-details {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: .5rem;
}
